<html>
    <head>
        <title>Administrator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <style>
            .table td {
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <h1>Administrator</h1>
        <div class="container">
            <form method="POST" action="/adduser/">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label for="InputUsername">Username</label>
                    <input type="text" class="form-control" name="username" id="InputUsername" placeholder="Enter username">
                    <small class="text-muted">We'll never share your username with anyone else.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Password">
                </fieldset>
                <fieldset class="form-group">
                    <label for="Age">Age</label>
                    <input type="number" class="form-control" name="age" id="Age" placeholder="20">
                </fieldset>
                <fieldset class="form-group">
                    <label for="School">School select</label>
                    <select class="form-control" id="School" name="school">
                        <option>SJTU</option>
                        <option>UIUC</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="InputFile">File input</label>
                    <input type="file" class="form-control-file" id="InputFile">
                    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </fieldset>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Age</th>
                        <th>School</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td> {{user.pk}} </td>
                        <td> {{user.username}} </td>
                        <td> {{user.age}} </td>
                        <td> {{user.school}} </td>
                        <td>
                            <a class="btn btn-danger" href="/deleteuser/{{user.pk}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
