body {
    font: 14px "Century Gothic", Futura, sans-serif;
    text-align: center;
    margin: 20px;
}

.button{
    color: #3d4652;
    background-color: #fcfcfe;
    border-radius: 0;

}

.deletebutton{
    color: #fcfcfe;
    background-color: #3d4652;
    border-radius: 0;
}

.inputDiv{

    height: 200px;
    width: 400px;
}

#friendId{
    width: 200px;
    display:inline;
}

.game{
    text-align: left;
    list-style-type: none;
}
.gameList{
    margin-left: 100px;
}

.friend{
    margin-left: -40px;
    text-align: left;
    list-style-type: none;
}

.friendList{

    margin: auto;
    width: 240px;
}
