body {
    font: 14px "Century Gothic", Futura, sans-serif;
    text-align: center;
    margin: 20px;

}

.button{
    color: #3d4652;
    background-color: #fcfcfe;
    border-radius: 0;

}

.deletebutton{
    color: #fcfcfe;
    background-color: #3d4652;
    border-radius: 0;
}

.inputDiv{

    height: 200px;
    width: 400px;
}

#friendId{
    width: 200px;
    display:inline;
}


.friend{
    margin-left: -40px;
    text-align: left;
    list-style-type: none;
}

.friendList{

    margin: auto;
    width: 240px;
}

.friendarea{
    height: 508px;
    margin-left: 50px;
    background-color:#96cfb9 ;
    z-index: 1;
    overflow: auto;
}
.link{
    text-decoration: none;
}

.popup{
    z-index: 100;
}

.popup_inner{
    width: 500px;
    height: 250px;
    background-color: #537fbb;
    box-shadow: 10px 10px 5px #0f243a;
    z-index: 100;
}

.game{
    text-align: left;
    list-style-type: none;
}
.gameList{
    margin-left: 100px;
}

.gamehistory{

    z-index: 1;

}

.gameDiv{
    background-color: #ffeeb0;
    color: #3d4652;
    margin-left: 100px;
    width: 550px;
    height:400px;
    overflow: auto;
    padding-top: 20px;
    z-index: 2;
}

::-webkit-scrollbar {
    display: none;
}

/* background area */

#blue{
    width: 600px;
    height: 400px;
    background-color: #54b9d3;
    margin-left: -20px;
}