body {
    font: 14px "Century Gothic", Futura, sans-serif;
    text-align: center;
    margin: 20px;

}

#gamehistroy{
    background-color: #54b9d3;
}

#blueupper{
    margin-top: -400px;
}

.addbutton{
    color: #3d4652;
    background-color: #fcfcfe;
    border-radius: 0;
    border: none;
    outline:none;
}

.deletebutton{
    color: #fcfcfe;
    background-color: #3d4652;
    border-radius: 0;
    border: none;
    outline:none;
}

.comfirmButton{
    color: #3d4652;
    background-color: #fcfcfe;
    border-radius: 0;
    border: none;
    outline:none;
}

.inputDiv{

    height: 200px;
    width: 400px;
}

#friendId{
    width: 200px;
    display:inline;
}


.friend{
    margin-left: -40px;
    text-align: left;
    list-style-type: none;
}

.friendList{

    margin: auto;
    width: 240px;
}

.friendOuter{
    width: 200px;
    float: right;
    margin-right: 180px;
}

.friendarea{
    height: 508px;
    width: 350px;
    background-color:#96cfb9 ;
    z-index: 1;
    overflow: auto;
    padding-bottom: 50px;
    position: absolute;

}

.friendFriend{
    margin-left: 65%;
}


.friendRequest{
    margin-left: 190px;
    margin-top: 450px;

    width: 195px;
    height: 40px;
    background-color: #e68c74;
    z-index: 2;
    position: absolute;
    overflow: auto;
    text-indent: 100%;
    white-space: nowrap;
}

.friendRequest:hover {

    -ms-transform: translate(0px,-160px) ; /* IE 9 */
    -webkit-transform: translate(0px,-160px); /* Safari */
    transform: translate(0px,-160px); /* Standard syntax */

    height: 200px;
    overflow: auto;
    text-indent: 0;
    white-space: normal;
}

.friendRequestList{
    width: 150px;
    margin: auto;
}


.link{
    text-decoration: none;
}

.popup{
    z-index: 100;
}

.popup_inner{
    width: 500px;
    height: 250px;
    background-color: #537fbb;
    box-shadow: 10px 10px 5px #0f243a;
    z-index: 100;
}

.game{
    text-align: left;
    list-style-type: none;
}
.gameList{
    margin-left: 100px;
}

.gamehistory{
    z-index: 1;
}

.gameDiv{
    background-color: #ffeeb0;
    color: #3d4652;
    margin-left: 80px;
    width: 580px;
    height:430px;
    overflow: auto;
    padding-top: 20px;
    z-index: 2;
}

::-webkit-scrollbar {
    display: none;
}

/* background area */

#blue{
    width: 600px;
    height: 400px;
    background-color: #54b9d3;
    margin-left: -50px;
}

