body {
    font: 14px "Century Gothic", Futura, sans-serif;
    text-align: center;
    margin: 20px;
}

.searchbutton{
    margin-top: -5px;

    color: #3d4652;
    background-color: #96cfb9;
    border-radius: 0;
}

#searchInput{
    width: 300px;
    display: inline;
}

.singeGame{
    width: 600px;
    height: 100px;
    margin: auto;
    text-align: left;
}

.pageButton{

    width: 750px;
    height: 40px;
    float: right;
    position: fixed;
    margin-top: 0;
}

.button{
    color: #3d4652;
    background-color: #fcfcfe;
    border-radius: 0;
}

/* category list */

.catbutton{
    width: 150px;
    height: 40px;
    text-align: left;
    color: #3d4652;
    background-color: #ffeeb0;
    border-radius: 0;
}

.category{
    height: 400px;
    width: 200px;
    float: right;
    margin-right: 730px;
    margin-top: -400px;
    padding-left: 0;
    z-index: 0;
}


.cateButton{
    margin-top: 20px;
    width: 350px;
    z-index: 0;
}


li{
    list-style-type: none;
}


/* game list */
#thisPageGame{
    width: 70%;
    margin: auto;
    z-index: 20;
}

.pageGames{
    float: right;
    margin-right: 0;
    width: 750px;
    background-color: #54b9d3;
    overflow-y: scroll;
    height: 500px;
    z-index: 20;
}

::-webkit-scrollbar {
    display: none;
}