body {
    font: 14px "Century Gothic", Futura, sans-serif;
    text-align: center;
    margin: 20px;
}

.singeGame{
    width: 600px;
    height: 100px;
    margin: auto;
    text-align: left;
}

.pageButton{
    width: 600px;
    height: 50px;
    margin: 25px auto;
}