body {
    font: 14px "Century Gothic", Futura, sans-serif;
    color: #fcfcfe;
    text-align: center;
    margin: 20px;
}

.button{
    color: #3d4652;
    background-color: #fcfcfe;
    border-radius: 0;
}


.inputDiv{
    margin: auto;
    height: 200px;
    width: 400px;
}

.LogOrSign{
    margin: auto;
}

#inputName{
    margin: auto;
    width: 200px;
}

#inputPassword{
    margin: auto;
    width: 200px;
}