

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    color: #fcfcfe;
    text-align: center;
    margin: 20px;
}

.button{
    color: #3d4652;
    background-color: #fcfcfe;
    border-radius: 0;
}
.MainPage{
    height: 600px;
}
#message{
    color: tomato;
}
.popup_inner{
    width: 500px;
    height: 200px;
    background-color: #537fbb;
    box-shadow: 10px 10px 5px #0f243a;

}

.weGame{
    height: 400px;
}

#inputDiv{
    margin: -180px auto;
    height: 270px;
    width: 400px;
    color: #3d4652;
    background-color:#ffeeb0;
}

#titleDiv{
    margin: auto;
    padding-top: 10px;
    width: 50%;
    height: 300px;
    background-color: #54b9d3;
}

.LogOrSign{

    margin: auto;
}

#inputName{
    margin: auto;
    width: 200px;
}

#inputPassword{
    margin: auto;
    width: 200px;
    display:inline;
}