body {
    font: 14px "Century Gothic", Futura, sans-serif;
    text-align: center;
    margin: 20px;
}

.inputDiv{
    margin: auto;
    height: 200px;
    width: 400px;
}

.LogOrSign{
    margin: auto;
}

#inputName{
    margin: auto;
    width: 200px;
}

#inputPassword{
    margin: auto;
    width: 200px;
}